<h2>I heard something!!!</h2>

<form action="/sounds/add" method="POST">
  What<input type="text" name = "what"><br>
  Where<input type="text" name = "where"><br>
  Date<input type="text" name = "date"><br>
  Hour<input type="text" name = "hour"><br>
  Description<input type="text" name="desc"><br>
  <input type="submit" value="Add">
</form>
