<!DOCTYPE html>
<html>
<head>
<title>Loud Sounds</title>
 <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>What was the sound?</h1>
<h3><a href="/">Home</a><br>
    <a href="/sounds/add">ADD</a><br>
    <a href = "/sounds/mine">MINE<a><br></h3>



  {{{body}}}

  <div class="footer">
    <h2>Visits this session: {{count}} </h2>
  </div>

</body>
</html>
