<h2> New Entry </h2>

<form action="/add" method="post">
  Name
  <input type="text" name = "name"> <br><br>
  Date
  <input type="text" name = "date"> <br><br>
  Tags
  <input type="text" name = "tags"> <br><br>
  Drawing
  <textarea id="drawingbox" name = "drawing"></textarea> <br><br>
  <input type="submit" value="Submit">
</form>
