<!DOCTYPE html>
<html>
<head>
<title>Ascii SketchBook</title>
 <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<img src="images/logo.jpg" style="width:100px; height:100px; float: left; padding-right: 20px;">
<h1> ASCII SketchBook</h1>
<br><br><br>


  {{{body}}}

<div class="footer">
  <h1> <a href="/">Home</a> <a href = "/add">Add</a></h1>

</div>
</body>
</html>
