body{
  background-color: lightgray;
  padding-left: 1%;
}

.footer {
    position: fixed;
    right: 30px;
    bottom: 0;
  }

#drawingbox{
  height:200px;
  width:300px;
  padding-top: 0em;
  padding-left: 0em;


}
